<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>客户详情页</title>
    <link href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css" rel="stylesheet"/>
    <link href="./common.css" rel="stylesheet">
    <script src="./js/global.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./config.js"></script>
</head>
<body>
<div class="container" id="app1">
    <main class="main-content">
        <div class="customer-h1"></div>
        <div class="customer-list">
            <div class="customer-item" style="display: block; border: none;">
                <div style="display: flex;">
                    <div class="customer-avatar">
                        <img alt="" src="./image/avatar.png">
                    </div>
                    <div class="customer-info">
                        <div class="customer-header">
                            <div class="customer-name">
                                <p>{{customerInfo && customerInfo.contactName ? customerInfo.contactName : ''}}</p>
                            </div>
                        </div>
                        <div class="customer-tags"
                             v-if="customerInfo && customerInfo.tags && customerInfo.tags.length > 0">
                            <span :class="'tag '+tagColor[getRandomIntInclusive(0,2)]" :key="idx"
                                  v-for="(it,idx) in customerInfo.tags">{{it}}</span>
                            <!-- <span class="tag big-customer">大客户</span> -->
                            <!-- <span class="tag new-customer">新客户</span>
                            <span class="tag never-ordered">从未下单</span> -->
                        </div>
                        <div class="customer-organization">
                            <div>组织：</div>
                            <div>{{customerInfo && customerInfo.name ? customerInfo.name : ''}}</div>
                            <div class="customer-organization-btn">查看</div>
                            <div class="customer-organization-icon">
                                <img alt="" src="./image/chevron-right1.png">
                            </div>
                        </div>
                        <div class="customer-sale">
                            <div>销售：</div>
                            <div class="customer-sale-avatar">
                                <img alt="" src="./image/avatar.png">
                            </div>
                            <div class="customer-sale-btn">{{customerInfo && customerInfo.seller ? customerInfo.seller :
                                ''}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action-buttons">
                    <button class="wechat-btn">
                        <img alt="" src="./image/Vector.png">
                        <span>发微信</span>
                    </button>
                    <button @click="show1 = true" class="wait-btn">
                        <img alt="" src="./image/wait.png">
                        <span>加待办</span>
                    </button>
                    <button class="sos-btn">
                        <img alt="" src="./image/sos.png">
                        <span>求助</span>
                    </button>
                    <div class="more-btn">
                        <img alt="" src="./image/Frame.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-number">
            <div class="detail-number-item">
                <div>最近沟通</div>
                <div class="detail-number-text">3天前</div>
            </div>
            <div class="detail-number-item">
                <div>最近下单</div>
                <div class="detail-number-text">3天前</div>
            </div>
            <div class="detail-number-item">
                <div>本月营业额</div>
                <div class="detail-number-text">1222</div>
            </div>
            <div class="detail-number-item">
                <div>总营业额</div>
                <div class="detail-number-text">1222</div>
            </div>
        </div>
        <!-- 待办 -->
        <div class="detail-wait">
            <div class="" style="display: flex;">
                <div class="detail-wait-icon">
                    <img alt="" src="./image/bell.png">
                </div>
                <div class="detail-wait-title">待办</div>
                <div style="flex: 1;"></div>
                <div class="nav-tabs">
                    <button class="tab-btn active">今日</button>
                    <button class="tab-btn">未完成</button>
                    <button class="tab-btn">已完成</button>
                </div>
            </div>
            <div class="detail-wait-content">昨天约了今日电话</div>
            <div class="detail-wait-group-btn">
                <div class="" style="flex: 1;"></div>
                <div class="detail-wait-btn">完成</div>
                <div class="detail-wait-btn">改时间</div>
            </div>
        </div>
        <div class="detail-wait-group">
            <div class="" style="display: flex;">
                <div class="detail-wait-icon">
                    <img alt="" src="./image/bell.png">
                </div>
                <div class="detail-wait-title">待办</div>
                <div style="flex: 1;"></div>
                <div class="nav-tabs">
                    <button class="tab-btn active">今日</button>
                    <button class="tab-btn">未完成</button>
                    <button class="tab-btn">已完成</button>
                </div>
            </div>
            <div class="detail-wait-group-item">
                <div class="detail-wait-group-content">
                    <div class="detail-wait-content-item">
                        <p>待办时间：</p>
                        <p style="color: #333;">今日</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>待办内容：</p>
                        <p style="color: #333;">昨日约了今天电话</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>创建待办：</p>
                        <p class="detail-wait-content-p">
                            <img alt="" src="./image/avatar.png">
                        </p>
                        <p style="color: #165DFF;">小朋友</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>执行人：</p>
                        <p class="detail-wait-content-p">
                            <img alt="" src="./image/avatar.png">
                        </p>
                        <p style="color: #165DFF;">小朋友</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>提醒方式：</p>
                        <p style="color: #333;">-</p>
                    </div>
                </div>
                <div class="detail-wait-group-btn">
                    <div class="" style="flex: 1;"></div>
                    <div class="detail-wait-btn" style="display: none;">完成</div>
                    <div class="detail-wait-btn">编辑</div>
                </div>
            </div>
            <div class="detail-wait-group-item">
                <div class="detail-wait-group-item-h"></div>
                <div class="detail-wait-group-content">
                    <div class="detail-wait-content-item">
                        <p>待办时间：</p>
                        <p style="color: #333;">今日</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>待办内容：</p>
                        <p style="color: #333;">昨日约了今天电话</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>创建待办：</p>
                        <p class="detail-wait-content-p">
                            <img alt="" src="./image/avatar.png">
                        </p>
                        <p style="color: #165DFF;">小朋友</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>执行人：</p>
                        <p class="detail-wait-content-p">
                            <img alt="" src="./image/avatar.png">
                        </p>
                        <p style="color: #165DFF;">小朋友</p>
                    </div>
                    <div class="detail-wait-content-item">
                        <p>提醒方式：</p>
                        <p style="color: #333;">-</p>
                    </div>
                </div>
                <div class="detail-wait-group-btn">
                    <div class="" style="flex: 1;"></div>
                    <div class="detail-wait-btn" style="display: none;">完成</div>
                    <div class="detail-wait-btn">编辑</div>
                </div>
            </div>
        </div>
        <div class="detail-tabs-content">
            <div class="detail-tabs-content-h"></div>
            <div class="customer-tabs">
                <div class="customer-tab active">跟踪记录</div>
                <div class="customer-tab">偏好</div>
                <div class="customer-tab">标签</div>
                <div class="customer-tab">熟人</div>
                <div class="customer-tab">资料</div>
                <div class="customer-tab">备注</div>
                <div class="customer-tab">会话</div>
            </div>
            <!-- 资料 -->
            <div class="detail-customer-tabs-content">
                <div class="detail-customer-order-item">
                    <div class="detail-customer-order-content">
                        <div class="detail-customer-info">
                            <div class="detail-customer-info-item">
                                <img alt="" src="./image/avatar.png">
                            </div>
                            <div class="detail-customer-info-item">
                                <img alt="" src="./image/avatar.png">
                            </div>
                            <div class="detail-customer-info-item">
                                <img alt="" src="./image/avatar.png">
                            </div>
                        </div>
                        <div class="detail-customer-list">
                            <div class="detail-customer-list-item">
                                <div style="flex: 1;">别名</div>
                                <div style="flex: 2; color: #333;">徐晓二</div>
                            </div>
                            <div class="detail-customer-list-item">
                                <div style="flex: 1;">别名</div>
                                <div style="flex: 2; color: #333;">徐晓二</div>
                            </div>
                            <div class="detail-customer-list-item">
                                <div style="flex: 1;">别名</div>
                                <div style="flex: 2; color: #333;">徐晓二</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 会话 -->
            <div class="detail-customer-tabs-content" style="display: none;">
                <div class="detail-customer-order-item">
                    <div class="detail-customer-order-content">
                        <div class="detail-customer-conversation">
                            <div>
                                <div class="detail-customer-conversation-icon">
                                    <img alt="" src="./image/dollar-sign.png">
                                </div>
                                <div>所属销售未开启会话存档</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 备注 -->
            <div class="detail-customer-tabs-content" style="display: none;">
                <div class="detail-customer-order-item">
                    <div class="detail-customer-order-content">
                        <div class="detail-customer-remark">
                            <textarea></textarea>
                            <span>0/1000</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 熟人 -->
            <div class="detail-customer-tabs-content" style="display: none;">
                <div class="detail-customer-order-item">
                    <div class="detail-customer-order-content">
                        <div class="detail-customer-acquaintance">同事（1）</div>
                        <div class="" style="display: flex;">
                            <div class="customer-avatar">
                                <img alt="" src="./image/avatar.png">
                            </div>
                            <div class="customer-info">
                                <div class="customer-header">
                                    <div class="customer-name">
                                        <p>徐小二</p>
                                        <p class="line">|</p>
                                        <p class="title">副食品批发</p>
                                    </div>
                                    <div class="ranking-text">
                                        3天前添加
                                    </div>
                                </div>
                                <div class="customer-tags">
                                    <span class="tag big-customer">大客户</span>
                                    <span class="tag new-customer">新客户</span>
                                    <span class="tag never-ordered">从未下单</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-customer-acquaintance-h"></div>
                        <div class="detail-customer-acquaintance">好友（1）</div>
                        <div class="" style="display: flex;">
                            <div class="customer-avatar">
                                <img alt="" src="./image/avatar.png">
                            </div>
                            <div class="customer-info">
                                <div class="customer-header">
                                    <div class="customer-name">
                                        <p>徐小二</p>
                                        <p class="line">|</p>
                                        <p class="title">副食品批发</p>
                                    </div>
                                    <div class="ranking-text">
                                        3天前添加
                                    </div>
                                </div>
                                <div class="customer-tags">
                                    <span class="tag big-customer">大客户</span>
                                    <span class="tag new-customer">新客户</span>
                                    <span class="tag never-ordered">从未下单</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-customer-addrecode">添加熟人</div>
                    </div>
                </div>
            </div>
            <!-- 标签 -->
            <div class="detail-customer-tabs-content" style="display: none;">
                <div class="detail-customer-order-item">
                    <div class="detail-customer-order-content">
                        <div class="detail-customer-order-menoy" style="align-items: start;">
                            <div class="detail-customer-order-num" style="padding-top: 2px;">基本：&nbsp;</div>
                            <div class="customer-tags" style="flex: 1;">
                                <span class="tag big-customer">偏绿</span>
                            </div>
                        </div>
                        <div class="detail-customer-order-menoy" style="align-items: start;">
                            <div class="detail-customer-order-num" style="padding-top: 2px;">社会：&nbsp;</div>
                            <div class="customer-tags" style="flex: 1;">
                                <span class="tag big-customer">不香</span>
                            </div>
                        </div>
                        <div class="detail-customer-order-menoy" style="align-items: start;">
                            <div class="detail-customer-order-num" style="padding-top: 2px;">个性：&nbsp;</div>
                            <div class="customer-tags" style="flex: 1;">
                                <span class="tag big-customer">不香</span>
                            </div>
                        </div>
                        <div class="detail-customer-order-menoy" style="align-items: start;">
                            <div class="detail-customer-order-num" style="padding-top: 2px;">行为：&nbsp;</div>
                            <div class="customer-tags" style="flex: 1;">
                                <span class="tag big-customer">不香</span>
                            </div>
                        </div>
                        <div class="detail-customer-order-menoy" style="align-items: start;">
                            <div class="detail-customer-order-num" style="padding-top: 2px;">预测：&nbsp;</div>
                            <div class="customer-tags" style="flex: 1;">
                                <span class="tag big-customer">不香</span>
                            </div>
                        </div>
                        <div class="detail-customer-addrecode">编辑标签</div>
                    </div>
                </div>
            </div>
            <!-- 偏好 -->
            <div class="detail-customer-tabs-content" style="display: none;">
                <div class="detail-customer-order-item">
                    <div class="detail-customer-order-content">
                        <div class="detail-customer-order-menoy" style="align-items: start;">
                            <div class="detail-customer-order-num" style="padding-top: 2px;">毛尖：&nbsp;</div>
                            <div class="customer-tags" style="flex: 1;">
                                <span class="tag big-customer">偏绿</span>
                            </div>
                        </div>
                        <div class="detail-customer-order-menoy" style="align-items: start;">
                            <div class="detail-customer-order-num" style="padding-top: 2px;">菊花：&nbsp;</div>
                            <div class="customer-tags" style="flex: 1;">
                                <span class="tag big-customer">不香</span>
                            </div>
                        </div>
                        <div class="detail-customer-addrecode">编辑偏好</div>
                    </div>
                </div>
            </div>
            <!-- 跟踪记录 -->
            <div class="detail-customer-tabs-content" style="display: none;">
                <div class="detail-customer-order">
                    <div class="detail-customer-order-item">
                        <div class="detail-customer-order-icon">
                            <img alt="" src="./image/smile.png">
                        </div>
                        <div class="detail-customer-order-content">
                            <div class="detail-customer-order-title">
                                <div class="detail-customer-order-head">第一次下订单</div>
                                <div style="flex: 1;"></div>
                                <div class="detail-customer-order-time">3天前</div>
                            </div>
                            <div class="detail-customer-order-menoy">
                                <div class="detail-customer-order-num">营业额：1200</div>
                                <div class="detail-customer-order-read" style="color: #165DFF;">查看订单</div>
                                <div class="customer-organization-icon">
                                    <img alt="" src="./image/chevron-right1.png">
                                </div>
                            </div>
                            <div class="detail-customer-order-action">
                                <div style="flex: 1;"></div>
                                <div class="detail-customer-order-btn">添加反馈</div>
                            </div>
                            <div class="detail-customer-order-h"></div>
                        </div>
                        <div class="detail-customer-order-line"></div>
                    </div>
                </div>
                <div class="detail-customer-order">
                    <div class="detail-customer-order-item">
                        <div class="detail-customer-order-icon">
                            <img alt="" src="./image/alert-circle1.png">
                        </div>
                        <div class="detail-customer-order-content">
                            <div class="detail-customer-order-title">
                                <div class="detail-customer-order-head">更换所属销售</div>
                            </div>
                            <div class="detail-customer-order-menoy">
                                <div class="detail-customer-order-num">原销售：</div>
                                <div class="detail-customer-order-sale">
                                    <img alt="" src="./image/avatar.png">
                                </div>
                                <div class="detail-customer-order-sale-name" style="color: #165DFF;">徐晓二</div>
                            </div>
                            <div class="detail-customer-order-menoy">
                                <div class="detail-customer-order-num">原销售：</div>
                                <div class="detail-customer-order-sale">
                                    <img alt="" src="./image/avatar.png">
                                </div>
                                <div class="detail-customer-order-sale-name" style="color: #165DFF;">徐晓二</div>
                            </div>
                            <div class="detail-customer-order-menoy">
                                <div class="detail-customer-order-num">更换原因：系统自动分配</div>
                            </div>
                            <div class="detail-customer-order-h"></div>
                        </div>
                        <div class="detail-customer-order-line"></div>
                    </div>
                </div>
                <div class="detail-customer-order">
                    <div class="detail-customer-order-item">
                        <div class="detail-customer-order-icon">
                            <img alt="" src="./image/alert-circle1.png">
                        </div>
                        <div class="detail-customer-order-content">
                            <div class="detail-customer-order-title">
                                <div class="detail-customer-order-head">自动添加标签“已发样”</div>
                                <div style="flex: 1;"></div>
                                <div class="detail-customer-order-time">3天前</div>
                            </div>
                            <div class="detail-customer-order-h"></div>
                        </div>
                        <div class="detail-customer-order-line"></div>
                    </div>
                </div>
                <div class="detail-customer-order">
                    <div class="detail-customer-order-item">
                        <div class="detail-customer-order-icon">
                            <img alt="" src="./image/frown.png">
                        </div>
                        <div class="detail-customer-order-content">
                            <div class="detail-customer-order-title">
                                <div class="detail-customer-order-head">第一次发样</div>
                                <div style="flex: 1;"></div>
                                <div class="detail-customer-order-time">3天前</div>
                            </div>
                            <div class="detail-customer-order-menoy">
                                <div class="detail-customer-order-num">成本：10</div>
                                <div class="detail-customer-order-read" style="color: #165DFF;">查看订单</div>
                                <div class="customer-organization-icon">
                                    <img alt="" src="./image/chevron-right1.png">
                                </div>
                            </div>
                            <div class="detail-customer-order-menoy">
                                <div class="detail-customer-order-num">反馈：好，渣渣比较多</div>
                            </div>
                            <div class="detail-customer-order-action">
                                <div style="flex: 1;"></div>
                                <div class="detail-customer-order-btn">编辑反馈</div>
                            </div>
                            <div class="detail-customer-order-h"></div>
                        </div>
                        <div class="detail-customer-order-line"></div>
                    </div>
                </div>
                <div class="detail-customer-order-more">
                    <div class="detail-customer-order-moretext">展开更早</div>
                    <div class="detail-customer-order-moreicon">
                        <img alt="" src="./image/chevrons-down.png">
                    </div>
                </div>
                <div class="detail-customer-addrecode">添加记录</div>
            </div>
        </div>
    </main>

    <!-- 标签 -->
    <van-popup :style="{ width: '90%' }" v-model:show="show5">
        <div class="popup-box1">
            <div class="popup-box1-head">
                <div>徐晓二的标签</div>
                <div style="flex: 1;"></div>
                <div @click="show5 = false" class="popup-box1-close">
                    <img alt="" src="./image/x1.png">
                </div>
            </div>
            <div class="popup-box1-tag">
                <div class="customer-search">
                    <div class="customer-search-icon">
                        <img alt="" src="./image/search.png">
                    </div>
                    <input placeholder="搜索客户..."/>
                    <div class="customer-search-icon">
                        <img alt="" src="./image/x-circle.png">
                    </div>
                </div>
                <div class="popup-box1-tag-add">
                    <div class="detail-customer-order-menoy" style="align-items: start;">
                        <div class="detail-customer-order-num" style="padding-top: 2px; color: #4E5969;">
                            <div class="customer-tags-add">
                                <img alt="" src="./image/plus.png" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                        <div class="customer-tags" style="flex: 1;">
                            <span class="tag big-customer" style="color: #4E5969;">偏绿1</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                        </div>
                    </div>
                </div>
                <div class="popup-box1-tag-newadd">
                    <div class="customer-tags-newadd">
                        <img alt="" src="./image/tag.png" style="width: 100%; height: 100%;">
                    </div>
                    <div class="customer-tags-newtitle">创建新标签</div>
                </div>
                <div class="popup-box1-tag-title">全部标签</div>
                <div class="popup-box1-tag-list">
                    <div class="detail-customer-order-menoy" style="align-items: start;">
                        <div class="detail-customer-order-num" style="padding-top: 2px; color: #4E5969;">基本：&nbsp;
                        </div>
                        <div class="customer-tags" style="flex: 1;">
                            <span class="tag big-customer" style="color: #4E5969;">偏绿1</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                        </div>
                    </div>
                    <div class="detail-customer-order-menoy" style="align-items: start;">
                        <div class="detail-customer-order-num" style="padding-top: 2px; color: #4E5969;">社会：&nbsp;
                        </div>
                        <div class="customer-tags" style="flex: 1;">
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                        </div>
                    </div>
                    <div class="detail-customer-order-menoy" style="align-items: start;">
                        <div class="detail-customer-order-num" style="padding-top: 2px; color: #4E5969;">个性：&nbsp;
                        </div>
                        <div class="customer-tags" style="flex: 1;">
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                        </div>
                    </div>
                    <div class="detail-customer-order-menoy" style="align-items: start;">
                        <div class="detail-customer-order-num" style="padding-top: 2px; color: #4E5969;">行为：&nbsp;
                        </div>
                        <div class="customer-tags" style="flex: 1;">
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                        </div>
                    </div>
                    <div class="detail-customer-order-menoy" style="align-items: start;">
                        <div class="detail-customer-order-num" style="padding-top: 2px; color: #4E5969;">预测：&nbsp;
                        </div>
                        <div class="customer-tags" style="flex: 1;">
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                            <span class="tag big-customer" style="color: #4E5969;">偏绿</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </van-popup>

    <!-- 弹窗 熟人 -->
    <van-popup :style="{ width: '90%' }" v-model:show="show4">
        <div class="popup-box1">
            <div class="popup-box1-head">
                <div>为徐晓二编辑熟人</div>
                <div style="flex: 1;"></div>
                <div @click="show4 = false" class="popup-box1-close">
                    <img alt="" src="./image/x1.png">
                </div>
            </div>
            <div class="popup-box1-form">
                <van-form>
                    <van-field border is-link placeholder="请选择熟人">
                        <template #label>
                            <div class="field-label">熟人</div>
                        </template>
                        <template #input>
                            <div class="field-input-custom">
                                <div class="field-input-custom-icon">
                                    <img alt="" src="./image/avatar.png">
                                </div>
                                <input v-model="form4.shuren"/>
                            </div>
                        </template>
                    </van-field>
                    <van-field border is-link placeholder="请选择关系" v-model="form4.guanxi">
                        <template #label>
                            <div class="field-label">关系</div>
                        </template>
                    </van-field>
                    <van-field border placeholder="请输入备注" type="textarea" v-model="form4.content">
                        <template #label>
                            <div class="field-label">备注</div>
                        </template>
                    </van-field>
                </van-form>
            </div>
            <div class="popup-box1-bottom">
                <div class="popup-box1-bottom-btn" style="border-color: #fff; color: #FF6442;">删除记录</div>
                <div style="flex: 1;"></div>
                <div class="popup-box1-bottom-btn">创建记录</div>
            </div>
        </div>
    </van-popup>
    <van-popup :style="{ width: '90%' }" v-model:show="show3">
        <div class="popup-box1">
            <div class="popup-box1-head">
                <div>为徐晓二添加熟人</div>
                <div style="flex: 1;"></div>
                <div @click="show3 = false" class="popup-box1-close">
                    <img alt="" src="./image/x1.png">
                </div>
            </div>
            <div class="popup-box1-form">
                <van-form>
                    <van-field border is-link placeholder="请选择熟人">
                        <template #label>
                            <div class="field-label">熟人</div>
                        </template>
                        <template #input>
                            <div class="field-input-custom">
                                <div class="field-input-custom-icon">
                                    <img alt="" src="./image/avatar.png">
                                </div>
                                <input v-model="form3.shuren"/>
                            </div>
                        </template>
                    </van-field>
                    <van-field border is-link placeholder="请选择关系" v-model="form3.guanxi">
                        <template #label>
                            <div class="field-label">关系</div>
                        </template>
                    </van-field>
                    <van-field border placeholder="请输入备注" type="textarea" v-model="form3.content">
                        <template #label>
                            <div class="field-label">备注</div>
                        </template>
                    </van-field>
                </van-form>
            </div>
            <div class="popup-box1-bottom">
                <div style="flex: 1;"></div>
                <div class="popup-box1-bottom-btn">创建记录</div>
            </div>
        </div>
    </van-popup>

    <!-- 弹窗 记录 -->
    <van-popup :style="{ width: '90%' }" v-model:show="show2">
        <div class="popup-box1">
            <div class="popup-box1-head">
                <div>为徐晓二添加跟进记录</div>
                <div style="flex: 1;"></div>
                <div @click="show2 = false" class="popup-box1-close">
                    <img alt="" src="./image/x1.png">
                </div>
            </div>
            <div class="popup-box1-form">
                <van-form>
                    <van-field border is-link placeholder="请选择记录类型" v-model="form2.type">
                        <template #label>
                            <div class="field-label">记录类型</div>
                        </template>
                    </van-field>
                    <van-field border placeholder="请输入记录内容" type="textarea" v-model="form2.content">
                        <template #label>
                            <div class="field-label">记录内容</div>
                        </template>
                    </van-field>
                    <van-field border disabled>
                        <template #label>
                            <div class="field-tip">
                                <div class="field-label field-tip-title1">创建待办</div>
                                <van-switch size="18px" v-model="form2.switch"/>
                            </div>
                        </template>
                    </van-field>
                    <van-field border is-link placeholder="请选择计划时间" v-model="form2.time">
                        <template #label>
                            <div class="field-label">计划时间</div>
                        </template>
                    </van-field>
                </van-form>
            </div>
            <div class="popup-box1-bottom">
                <div style="flex: 1;"></div>
                <div class="popup-box1-bottom-btn">创建记录</div>
            </div>
        </div>
    </van-popup>

    <!-- 弹窗 待办 -->
    <van-popup :style="{ width: '90%' }" v-model:show="show1">
        <div class="popup-box1">
            <div class="popup-box1-head">
                <div>为徐晓二添加待办</div>
                <div style="flex: 1;"></div>
                <div @click="show1 = false" class="popup-box1-close">
                    <img alt="" src="./image/x1.png">
                </div>
            </div>
            <div class="popup-box1-form">
                <van-form>
                    <van-field border is-link placeholder="请选择计划时间" v-model="form1.time">
                        <template #label>
                            <div class="field-label">计划时间</div>
                        </template>
                    </van-field>
                    <van-field border is-link placeholder="请选择待办类型" v-model="form1.type">
                        <template #label>
                            <div class="field-label">待办类型</div>
                        </template>
                    </van-field>
                    <van-field border placeholder="请输入待办内容" type="textarea" v-model="form1.content">
                        <template #label>
                            <div class="field-label">待办内容</div>
                        </template>
                    </van-field>
                    <van-field border disabled>
                        <template #label>
                            <div class="field-tip">
                                <div class="field-label field-tip-title">提醒</div>
                                <van-switch size="18px" v-model="form1.switch"/>
                            </div>
                        </template>
                    </van-field>
                    <van-field border is-link placeholder="请选择提醒方式" v-model="form1.tip">
                        <template #label>
                            <div class="field-label">提醒方式</div>
                        </template>
                    </van-field>
                    <van-field border is-link placeholder="请选择提醒人" v-model="form1.peper">
                        <template #label>
                            <div class="field-label">提醒人</div>
                        </template>
                    </van-field>
                </van-form>
            </div>
            <div class="popup-box1-bottom">
                <div style="flex: 1;"></div>
                <div class="popup-box1-bottom-btn">创建待办</div>
            </div>
        </div>
    </van-popup>

    <!-- 底部导航 -->
    <div class="bottom-navigation">
        <div class="nav-item" onclick="window.location.href='./index.html'" style="cursor: pointer;">
            <img class="nav-icon" height="22" src="./image/home.png" width="22"/>
            <div class="nav-label">首页</div>
        </div>
        <div class="nav-item" onclick="window.location.href='./customer.html'" style="cursor: pointer;">
            <img class="nav-icon" height="22" src="./image/customer-select.png" width="22"/>
            <div class="nav-label-active">客户</div>
        </div>
        <div class="nav-item">
            <img class="nav-icon" height="22" src="./image/optional.svg" width="22"/>
            <div class="nav-label">业绩</div>
        </div>
        <div class="nav-item">
            <img class="nav-icon" height="22" src="./image/config.svg" width="22"/>
            <div class="nav-label">设置</div>
        </div>
    </div>
</div>
</body>
<script src="./js/comm.js"></script>
</html>